    <%- include('./partial/header') -%>
    <div class="container-fluid">
        <h1>Customers</h1>
        <br>
        <form action="/admin/userSearch" method="post" name="name">
            <div class="input-group">
              <div class="form-outline d-flex p-3">
                <input type="search" class="form-control " name="search" placeholder="Search" required>
                    <button id="search-button" type="submit" class="btn btn-primary mx-2">
                      
          <lord-icon
          class="fa-solid fa-magnifying-glass" style="color: #eeeff2;"
          trigger="hover"
          colors="primary:#fff"
          style="width:25px;height:25px"
          >
          </lord-icon>
                    </button>
              </div>
              
            </div>
          </form>
    <table class="table table-striped w-75">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
            
    <% if (Array.isArray(userData)) { %>
        <% userData.forEach((x, i) => { %>
        <tr>
            <th scope="row"><%=++i%></th>
            <td><%=x.userName%></td>
            <td><%=x.email%></td>
          
            <td >
                <% if (x.status) { %>
                    <button style="background-color: #1bbd2b; color: white; border-radius: 10px;  border-color: transparent;"><i class="fa-solid fa-address-book" style="color: #1bbd2b;"></i> Active <i class="fa-solid fa-address-book" style="color: #1bbd2b;"></i></button>

                <% } else { %>
                    <button style="background-color: #ff0000; color: white;  border-radius: 10px; border-color: transparent;" > <i class="fa-solid fa-ban" style="color: #ff0000;"></i> Block <i class="fa-solid fa-ban" style="color: #ff0000;"></i> </button>
                <% } %>
            </td>
            <td><a href="/admin/block/<%= x._id %>" class="text-white"
                onclick="return confirm('Do you want block  <%= x.username %> ?')">
                <i class="fa-solid fa-xmark" style="color: #ff0000;"></i>
            </a></td>
        </tr>
        </div>
        <% }); %>
    <% } else { %>
        <p>No user data available.</p>
    <% } %>
        </tbody>
    </table>
    </div>
    <nav aria-label="Page navigation example" class="d-flex  mt-3">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="/products?page=1">1</a></li>
          <li class="page-item"><a class="page-link" href="/products?page=2">2</a></li>
          <li class="page-item"><a class="page-link" href="/products?page=3">3</a></li>
          <li class="page-item"><a class="page-link" href="/products?page=4">4</a></li>
          <li class="page-item"><a class="page-link" href="/products?page=5">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    
    <%- include('partial/footer') -%>
