    <%- include('./partial/header') -%>
    <div class="container-fluid">
        <h1>Customers</h1>
        <br>
    <table class="table table-striped w-75">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
            
    <% if (Array.isArray(userData)) { %>
        <% userData.forEach((x, i) => { %>
        <tr>
            <th scope="row"><%=++i%></th>
            <td><%=x.userName%></td>
            <td><%=x.email%></td>
          
            <td >
                <% if (x.status) { %>
                    <button style="background-color: #1bbd2b; color: white; border-radius: 10px;  border-color: transparent;"><i class="fa-solid fa-address-book" style="color: #1bbd2b;"></i> Active <i class="fa-solid fa-address-book" style="color: #1bbd2b;"></i></button>

                <% } else { %>
                    <button style="background-color: #ff0000; color: white;  border-radius: 10px; border-color: transparent;" > <i class="fa-solid fa-ban" style="color: #ff0000;"></i> Block <i class="fa-solid fa-ban" style="color: #ff0000;"></i> </button>
                <% } %>
            </td>
            <td><a href="/admin/block/<%= x._id %>" class="text-white"
                onclick="return confirm('Do you want block  <%= x.username %> ?')">
                <i class="fa-solid fa-xmark" style="color: #ff0000;"></i>
            </a></td>
        </tr>
        </div>
        <% }); %>
    <% } else { %>
        <p>No user data available.</p>
    <% } %>
        </tbody>
    </table>
    </div>
    <%- include('partial/footer') -%>
