<%- include('./partial/header') %>
<h2>Orders</h2>
  <a href="/admin/ReturnPage"><button class="btn btn-primary me-md-2" type="button">Return Products</button></a>
  <br>
<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Order Id</th>
      <th scope="col">User Id</th>
      <th scope="col">Purchased On</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Total Price</th>
      <th scope="col">Status</th>
      <th scope="col">View</th>
    </tr>
  </thead>

  <tbody>
    <% if (orderData.length > 0) { %>
      <% orderData.forEach((x, index) => { %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= x._id %></td>
          <td><%= x.UserID %></td>
           <td>
            <% const orderDate = new Date(x.OrderDate); %>
            <%= orderDate.toLocaleString('default', { month: 'short' }) %>
            <%= orderDate.getDate() %>,
            <%= orderDate.getFullYear() %>
            <%= orderDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %>
          </td>
          <td>COD</td>
          <td><%= x.TotalPrice %></td>
          <td>
             
              <% if (x.Status !== 'Cancelled') { %>
                <% const currentStatus = x.Status || 'Order Placed'; %>
                <select class="form-select" id="statusSelect<%= x %>" onchange="updateOrderStatus('<%= x._id %>', this.value)">
                  <option value="Order Placed" <%= currentStatus === 'Order Placed' ? 'selected' : '' %>>Order Placed</option>
                  <option value="Shipped" <%= currentStatus === 'Shipped' ? 'selected' : '' %>>Shipped </option>
                  <option value="Delivered" <%= currentStatus === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                  <option value="Rejected" <%= currentStatus === 'Rejected' ? 'selected' : '' %>>Rejected</option>
                </select>
              <% } else { %>
                Cancelled
              <% } %>
              

          </td>
          <td><a href="/admin/orderView/<%=x._id%>"><button type="button" class="btn btn-light">View</button></a></td>
        </tr>
      <% }) %>
    <% } else { %>
      <tr>
        <td colspan="8">
          <h4>No Data Available</h4>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
<nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3" id="pagination-navbar">
  <ul class="pagination">
      <li class="page-item <%= page <= 1 ? 'disabled' : '' %>">
          <a class="page-link" href="<%= page <= 1 ? '#' : '/admin/orders?page=' + (page - 1) %>" style="color: black;" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
      <li class="page-item">
          <a class="page-link" href="/admin/orders?page=<%= page %>" style="color: black"><%= page %></a>
      </li>
      <li class="page-item <%= page >= Count ? 'disabled' : '' %>">
          <a class="page-link" href="<%= page >= Count ? '#' : '/admin/orders?page=' + (page + 1) %>" style="color: black;" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
          </a>
      </li>
  </ul>
</nav>
<script>
  function updateOrderStatus(orderId, newStatus) {
    fetch(`/admin/updateStatus/${orderId}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ status: newStatus }),
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error('Network response was not ok');
        }
      })
      .then((data) => {
        if (data.success) {
          alert('Order status updated successfully!');
        } else {
          alert('Failed to update order status.');
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }
</script>

<%- include('./partial/footer') %>
