<%-include('./partial/header')%>
<h1>Products</h1>
<table class="table w-75">
    <thead>
      <tr>
        <th scope="col">NO</th>
        <th scope="col">Image</th> 
        <th scope="col">NAME</th>
        <th scope="col">Catagory</th>
        <th scope="col">STOCK</th>
        <th scope="col">EDIT</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
    <% if (Array.isArray(data)) { %>
        <% data.filter(product => product.status === true).forEach((x, i) => { %>
        <tr>
            <th scope="row"><%=++i%></th>
            <td><img src="/product-image/<%=x.images[0]%>" alt="product image" style="height: 40px;width: 50px;"></td>
            <td><%=x.ProductName%></td>
            <td><%=x.Category%></td>
            <td><%=x.AvailableQuantity%></td>
            <td> 
                <a href="/admin/edit-product/<%-x._id%>" class="text-white">
                  <i class="fa-solid fa-pen-to-square fa-xl" style="color: #393939;"></i>
                </a>
            </td>
           
            <td><a href="/admin/delete-product/<%= x._id %>" class="text-white"
                onclick="return confirm('Do you want delete  <%= x.CategoryName %> ?')">
                <i class="fa-solid fa-trash" style="color: #5b5b5b;"></i>
            </a></td>
        </tr>
        </div>
        <% }); %>
    <% } else { %>
        <p>No product data available.</p>
    <% } %>
          
    </tbody>
  </table>

<%-include('./partial/footer')%>
