
<%-include('./partial/header') %>
  <h1>Products</h1>
  <div class="search-bar p-3">
    <form action="/admin/search" method="post" name="name">
      <div class="input-group">
        <div class="form-outline d-flex p-3">
          <input type="search" class="form-control " name="search" placeholder="Search" >
          <button id="search-button" type="submit" class="btn btn-primary mx-2">

            <lord-icon class="fa-solid fa-magnifying-glass" style="color: #eeeff2;" trigger="hover"
              colors="primary:#fff" style="width:25px;height:25px">
            </lord-icon>
          </button>
        </div>

      </div>
    </form>
  </div>
  <table class="table table-striped rounded">
    <thead>
      <tr style="background-color: rgb(155, 155, 155); "> 
        <th scope="col">NO</th>
        <th scope="col">Image</th>
        <th scope="col">NAME</th>
        <th scope="col">Catagory</th>
        <th scope="col">STOCK</th>
        <th scope="col">EDIT</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
      <% if (Array.isArray(data)) { %>
        <% data.filter(product=> product.status === true).forEach((x, i) => { %>
          <tr>
            <th scope="row">
              <%=++i%>
            </th>
            <td><img src="/product-image/<%=x.images[0]%>" alt="product image" style="height: 40px;width: 50px;"></td>
            <td>
              <%=x.ProductName%>
            </td>
            <td>
              <%=x.Category%>
            </td>
            <td>
              <%=x.AvailableQuantity%>
            </td>
            <td>
              <a href="/admin/edit-product/<%-x._id%>" class="text-white">
                <i class="fa-solid fa-pen-to-square fa-xl" style="color: #393939;"></i>
              </a>
            </td>

            <td><a href="/admin/delete-product/<%= x._id %>" class="text-white"
                onclick="return confirm('Do you want delete  <%= x.CategoryName %> ?')">
                <i class="fa-solid fa-trash" style="color: #5b5b5b;"></i>
              </a></td>
          </tr>
          </div>
          <% }); %>
            <% } else { %>
              <p>No product data available.</p>
              <% } %>

    </tbody>
  </table>
  <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3" id="pagination-navbar">
    <ul class="pagination">
        <li class="page-item <%= page <= 1 ? 'disabled' : '' %>">
            <a class="page-link" href="<%= page <= 1 ? '#' : '/admin/toproducts?page=' + (page - 1) %>" style="color: black;" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/admin/toproducts?page=<%= page %>" style="color: black"><%= page %></a>
        </li>
        <li class="page-item <%= page >= productDataCount ? 'disabled' : '' %>">
            <a class="page-link" href="<%= page >= productDataCount ? '#' : '/admin/toproducts?page=' + (page + 1) %>" style="color: black;" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

 <%-include('./partial/footer')%>