<%-include('./partial/header')%>

<section class="bg-white my-5">
  <div class="container">
    <div class="row">
      <!-- cart -->
      <div class="col-lg-9">
        <div class="card border  rounded shadow ">
          <div class="m-4 rounded shadow-5">
            <h4 class="card-title mb-4">Address</h4>
            <% if (userData.address && userData.address.length > 0) { %>
              <% userData.address.forEach((x, index) => { %>
                <div class="form-check">
                  <hr>
                  
                
                  <P>
                    <%= x.name %>
                  </P>
                  <P>
                    <%= x.addressLine %>
                  </P>
                  <P>
                    <%= x.pincode %>
                  </P>
                  <P>
                    <%= x.city %>
                  </P>
                  <P>
                    <%= x.state %>
                  </P>
                  <P>
                    <%= x.mobileNumber %>
                  </P>
                  <button class="btn btn-primary w-100 border mt-2" onclick="openEditAddressModal('<%= x._id %>')">Edit Address</button>
                  <button class="btn btn-danger w-100 border mt-2" onclick="deleteAddress('<%= x._id %>')">Delete Address</button>
                </div>

                <!-- Edit Address Modal -->
                <div class="modal fade" id="editAddressModal<%= x._id %>" tabindex="-1" role="dialog"
                  aria-labelledby="editAddressModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- Edit Address Form -->
                        <form action="/user/editAddress/<%= x._id %>" method="post" onchange="return validateEditAddressForm('<%= x._id %>')">
                          <div class="form-group">
                            <label for="name_<%= x._id %>" class="col-form-label">Name:</label>
                            <input type="text" name="name" class="form-control" id="name_<%= x._id %>" value="<%= x.name %>" required>
                            <div id="name-validation-message_<%= x._id %>" class="text-danger"></div>
                          </div>
                          <div class="form-group">
                            <label for="address_<%= x._id %>" class="col-form-label">Address:</label>
                            <input type="text" name="address" class="form-control" id="address_<%= x._id %>" value="<%= x.addressLine %>" required>
                            <div id="address-validation-message_<%= x._id %>" class="text-danger"></div>
                          </div>
                          <div class="form-group">
                            <label for="city_<%= x._id %>" class="col-form-label">City:</label>
                            <input type="text" name="city" class="form-control" id="city_<%= x._id %>" value="<%= x.city %>" required>
                            <div id="city-validation-message_<%= x._id %>" class="text-danger"></div>
                          </div>
                          <div class="form-group">
                            <label for="pincode_<%= x._id %>" class="col-form-label">Pincode:</label>
                            <input type="text" name="pincode" class="form-control" id="pincode_<%= x._id %>"
                              oninput="this.value = this.value.replace(/[^0-9]/g, '');" pattern="[0-9]*" maxlength="6"
                              value="<%= x.pincode %>" required>
                            <div id="pincode-validation-message_<%= x._id %>" class="text-danger"></div>
                          </div>
                          <div class="form-group">
                            <label for="state_<%= x._id %>" class="col-form-label">State:</label>
                            <input type="text" name="state" class="form-control" id="state_<%= x._id %>" value="<%= x.state %>" required>
                            <div id="state-validation-message_<%= x._id %>" class="text-danger"></div>
                          </div>
                          <div class="form-group">
                            <label for="number_<%= x._id %>" class="col-form-label">Mobile Number:</label>
                            <input type="text" name="number" class="form-control" id="number_<%= x._id %>" value="<%= x.mobileNumber %>" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                            maxlength="10"  pattern="\d{10}" required>
                            <div id="number-validation-message_<%= x._id %>" class="text-danger"></div>
                          </div>
                          <!-- End of Edit Address Form -->
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="submitButton_" class="btn btn-primary">Save Changes</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of Edit Address Modal -->
              <% }) %>
            <% } else { %>
              <p>No addresses available.</p>
            <% } %>
          </div>
        </div>
      </div>
      <!-- cart -->
      <!-- summary -->
      <div class="col-lg-3">
        <div class="card shadow border">
          <div class="card-body">
            <div class="d-flex justify-content-between">
            </div>
            <div class="mt-3">
              <a href="#" class="btn btn-success w-100 shadow-0 mb-2" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat"> Add Address </a>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/user/addAddress" method="post" onchange="return validationAddAddrerss()">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Name:</label>
                          <input type="text" name="name" class="form-control" id="name" required>
                          <div id="name-error" class="text-danger"></div>
                        </div>
                        <div class="form-group">
                          <label for="recipient-address" class="col-form-label">Address:</label>
                          <input type="text" name="address" class="form-control" id="address" required>
                          <div id="address-error" class="text-danger"></div>

                        </div>
                        <div class="form-group">
                          <label for="recipient-city" class="col-form-label">City:</label>
                          <input type="text" name="city" class="form-control" id="city" required>
                          <div id="city-error" class="text-danger"></div>

                        </div>
                        <div class="form-group">
                          <label for="recipient-pincode" class="col-form-label">Pincode:</label>
                          <input type="text" name="pincode" class="form-control" id="pincode" oninput="this.value = this.value.replace(/[^0-9]/g, '');" pattern="[0-9]*" maxlength="6" required>
                          <div id="pincode-validation-message" class="text-danger"></div>
                          <div id="pincode-error" class="text-danger"></div>

                        </div>
                        <div class="form-group">
                          <label for="recipient-state" class="col-form-label">State:</label>
                          <input type="text" name="state" class="form-control" id="state" required>
                          <div id="state-error" class="text-danger"></div>

                        </div>
                        <div class="form-group">
                          <label for="recipient-number" class="col-form-label">Mobile Number:</label>
                          <input type="text" name="number" class="form-control" id="number" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                          maxlength="10"  pattern="\d{10}" title="Please enter 10 digits" required>
                          <div id="number-error" class="text-danger"></div>
                      </div>
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" id="submit-button" class="btn btn-primary">Add</button>
                      
                    </div>
                    </form>
                  </div>
                </div>
              </div>
              <a href="/user/profile" class="btn btn-light w-100 border mt-2"> Back To Home </a>
            </div>
          </div>
        </div>
      </div>
      <!-- summary -->
    </div>
  </div>
</section>
<script>
  function deleteAddress(addressId) {
    if (confirm('Are you sure you want to delete this address?')) {
      fetch(`/user/deleteAddress/${addressId}`, {
        method: 'POST',
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.message === 'Address deleted successfully') {
            window.location.reload();
          } else {
            console.error('Error deleting address:', data.message);
          }
        })
        .catch((error) => {
          console.error('Error deleting address:', error);
        });
    }
  }

  function openEditAddressModal(addressId) {
    $('#editAddressModal' + addressId).modal('show');
  }

  function validateEditAddressForm(addressId) {
    console.log('Validation function called');

    const name = document.getElementById(`name_${addressId}`).value.trim();
    const address = document.getElementById(`address_${addressId}`).value.trim();
    const city = document.getElementById(`city_${addressId}`).value.trim();
    const pincode = document.getElementById(`pincode_${addressId}`).value.trim();
    const state = document.getElementById(`state_${addressId}`).value.trim();
    const number = document.getElementById(`number_${addressId}`).value.trim();

    const nameValidationMessage = document.getElementById(`name-validation-message_${addressId}`);
    const addressValidationMessage = document.getElementById(`address-validation-message_${addressId}`);
    const cityValidationMessage = document.getElementById(`city-validation-message_${addressId}`);
    const pincodeValidationMessage = document.getElementById(`pincode-validation-message_${addressId}`);
    const stateValidationMessage = document.getElementById(`state-validation-message_${addressId}`);
    const numberValidationMessage = document.getElementById(`number-validation-message_${addressId}`);
    const submitButton = document.getElementById(`submitButton_`);

    let isValid = true;

    if (!name) {
        nameValidationMessage.textContent = 'Name is required';
        isValid = false;
    } else {
        nameValidationMessage.textContent = '';
    }

    if (!address) {
        addressValidationMessage.textContent = 'Address is required';
        isValid = false;
    } else {
        addressValidationMessage.textContent = '';
    }

    if (!city) {
        cityValidationMessage.textContent = 'City is required';
        isValid = false;
    } else {
        cityValidationMessage.textContent = '';
    }

    if (!pincode) {
        pincodeValidationMessage.textContent = 'Pincode is required';
        isValid = false;
    } else if(pincode.length < 6){
      pincodeValidationMessage.textContent = 'Pincode is 6 digit required';
        isValid = false;
    } else {
        pincodeValidationMessage.textContent = '';
    }

    if (!state) {
        stateValidationMessage.textContent = 'State is required';
        isValid = false;
    } else {
        stateValidationMessage.textContent = '';
    }

    if (!number) {
        numberValidationMessage.textContent = 'Number is required';
        isValid = false;
        console.log('isValid:1', isValid)
    } else if(number.length!==10){
      numberValidationMessage.textContent = 'Number Must Be 10 digits';
      isValid = false;
    }else {
        numberValidationMessage.textContent = '';
        console.log('isValid:0', isValid)
    }
    console.log('isValid:-1', isValid);

    submitButton.disabled = !isValid;

    return isValid;
}

</script>
<script>
  function validationAddAddrerss(addressId) {
    const name = document.getElementById(`name`).value.trim();
    const address = document.getElementById(`address`).value.trim();
    const city = document.getElementById(`city`).value.trim();
    const pincode = document.getElementById(`pincode`).value.trim();
    const state = document.getElementById(`state`).value.trim();
    const number = document.getElementById(`number`).value.trim();

    const nameValidationMessage = document.getElementById(`name-error`);
    const addressValidationMessage = document.getElementById(`address-error`);
    const cityValidationMessage = document.getElementById(`city-error`);
    const pincodeValidationMessage = document.getElementById(`pincode-error`);
    const stateValidationMessage = document.getElementById(`state-error`);
    const numberValidationMessage = document.getElementById(`number-error`);
    const submitButton = document.getElementById(`submit-button`);

    let isValid = true;

    if (!name) {
        nameValidationMessage.textContent = 'Name is required';
        isValid = false;
    } else {
        nameValidationMessage.textContent = '';
    }

    if (!address) {
        addressValidationMessage.textContent = 'Address is required';
        isValid = false;
    } else {
        addressValidationMessage.textContent = '';
    }

    if (!city) {
        cityValidationMessage.textContent = 'City is required';
        isValid = false;
    } else {
        cityValidationMessage.textContent = '';
    }

    if (!pincode) {
        pincodeValidationMessage.textContent = 'Pincode is required';
        isValid = false;
    }else if(pincode.length < 6){
      pincodeValidationMessage.textContent = 'Pincode is 6 digit required';
        isValid = false;
    } else {
        pincodeValidationMessage.textContent = '';
    }

    if (!state) {
        stateValidationMessage.textContent = 'State is required';
        isValid = false;
    } else {
        stateValidationMessage.textContent = '';
    }

    if (!number) {
        numberValidationMessage.textContent = 'Number is required';
        isValid = false;
        console.log('isValid:1', isValid)
    }else if(number.length!==10){
      numberValidationMessage.textContent = 'Number Must Be 10';
      isValid = false;
    }
     else {
        numberValidationMessage.textContent = '';
        console.log('isValid:0', isValid)
    }
    console.log('isValid:-1', isValid);

    submitButton.disabled = !isValid;

    return isValid;
}

</script>

<%-include('./partial/footer')%>
