<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <!-- Include necessary libraries and CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add your custom CSS file -->
    <link rel="stylesheet" href="/profilePhoto.css">
</head>
<body>
<%-include('./partial/header')%>

<div class="container">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg, .webp" class="d-none">
                            <label for="imageUpload">
                                <i class="fas fa-camera"></i> 
                            </label>
                        </div>
                        <div class="avatar-preview">
                            <img id="imagePreview" src="" class="rounded-circle" alt="User Image" width="180">
                        </div>
                    </div>
                    <h4 class="mt-3"><%=userData.userName%></h4>
                    <p class="text-secondary mb-1"><%=userData.email%></p>
                    <p class="text-muted font-size-sm"></p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <%=userData.userName%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <%=userData.email%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Mobile</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            (320) 380-4539
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <%=userData.address[0].addressLine%>
                            <br>
                            <%=userData.address[0].city%>
                            <br>
                            <%=userData.address[0].pincode%>
                            <br>
                            <%=userData.address[0].state%>
                            <br>
                            <%=userData.address[0].mobileNumber%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/user/toManageAddress">
                                <button type="button" class="btn btn-primary">Manage Address</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#imagePreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imageUpload").change(function() {
            readURL(this);
        });
    });
</script>
<script src="/script/address.js"></script>
<%-include('./partial/footer')%>
</body>
</html>
